.text-center.py-5.form-container.mx-auto
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource

    -# .field.mt-4
    -#   = f.label :avator
    -#   %br/
    -#   = f.file_field :avator

    .field.mt-2
      %p.mb-2 user info
      -# = f.label :nickname
      -# %br/
      = f.text_field :nickname, autofocus: true, class: 'form-control', placeholder: 'nickname'
    .field.mt-2
      -# = f.label :email
      -# %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'aaa@gmail.com'
    .field.mt-2
      %p.mb-2 Password
      -# = f.label :password
      -# - if @minimum_password_length
      -#   %em
      -#     (#{@minimum_password_length} characters minimum)
      -# %br/
      = f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password'
    .field.mt-2
      -# = f.label :password_confirmation
      -# %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Password Confirmation'
    .actions
      = f.submit "Sign up", class: 'btn btn-primary my-3'
  -# = render "devise/shared/links"
