
- while coordinates.present?  do
  .card-deck.card-deck1.mt-4
    .card.h-100.border-0.shadow.position-relative
      - if coordinates.present?
        = link_to image_tag(coordinates.last.image&.url, class:"card-img"), coordinate_path(coordinates.pop&.id)
        .info-box.d-flex.position-absolute.bg-light.rounded.nav.justify-content-center
          .like-box.my-auto.categorie
            %i.fa.fa-heart.fa-fw.faa-pulse.animated
          .border.border-dark.mx-2
          .evaluation-average-box.categorie
            %p.average.text-center.my-auto
              = coordinate_average_arry.pop
    .card.h-100.border-0.shadow
      - if coordinates.present?
        = link_to image_tag(coordinates.last.image&.url, class:"card-img"), coordinate_path(coordinates.pop&.id)
        .info-box.d-flex.position-absolute.bg-light.rounded.nav.justify-content-center
          .like-box.my-auto.categorie
            %i.fa.fa-heart.fa-fw.faa-pulse.animated
          .border.border-dark.mx-2
          .evaluation-average-box.categorie
            %p.average.text-center.my-auto
              = coordinate_average_arry.pop
    .card.h-100.border-0
      - if coordinates.present?
        = link_to image_tag(coordinates.last.image&.url, class:"card-img"), coordinate_path(coordinates.pop&.id)
        .info-box.d-flex.position-absolute.bg-light.rounded.nav.justify-content-center
          .like-box.my-auto.categorie
            %i.fa.fa-heart.fa-fw.faa-pulse.animated
          .border.border-dark.mx-2
          .evaluation-average-box.categorie
            %p.average.text-center.my-auto
              = coordinate_average_arry.pop
      - break unless coordinates.present?
  .card-deck.card-deck2.mt-4
    .card.h-100.border-0.shadow
      - if coordinates.present?
        = link_to image_tag(coordinates.last.image&.url, class:"card-img"), coordinate_path(coordinates.pop&.id)
        .info-box.d-flex.position-absolute.bg-light.rounded.nav.justify-content-center
          .like-box.my-auto.categorie
            %i.fa.fa-heart.fa-fw.faa-pulse.animated
          .border.border-dark.mx-4
          .evaluation-average-box.categorie
            %p.average.text-center.my-auto
              = coordinate_average_arry.pop
    .card.h-100.border-0
      - if coordinates.present?
        = link_to image_tag(coordinates.last.image&.url, class:"card-img"), coordinate_path(coordinates.pop&.id)
        .info-box.d-flex.position-absolute.bg-light.rounded.nav.justify-content-center
          .like-box.my-auto.categorie
            %i.fa.fa-heart.fa-fw.faa-pulse.animated
          .border.border-dark.mx-4
          .evaluation-average-box.categorie
            %p.average.text-center.my-auto
              = coordinate_average_arry.pop