
.main
  .nav.d-flex.justify-content-center.text-center.py-2.border-bottom
    .categorie.w-25
      = link_to 'ALL', root_path,{class: 'text-muted h4'}
    .categorie.w-25
      = link_to 'MEN','/coordinates/index/male',{class: 'text-muted h4'}
    .categorie.w-25
      = link_to 'WOMEN','/coordinates/index/female',{class: 'text-muted h4'}

  .container
    = render partial: "coordinates-list", locals: { coordinates: @coordinates, coordinate_average_arry:  @coordinate_average_arry }
  = paginate(@o_coordinates)