
.container
  .profile-container.py-5.d-flex.border-bottom
    .img-container
      = image_tag("icon.jpg", size: 12*12, class: "img-fluid rounded-circle")
    .info-container.h-100.align-center.ml-4.mt-2
      %h5 
        = current_user.nickname
      %h5.ml-3
        your score: 
        = current_user.score
      %h5.ml-3
        your rank:
        = current_user.rank
      - case current_user.rank
      - when 3
        %i.far.fa-meh.fa-2x.fa-fw.faa-tada.animated.ml-3
        %i.far.fa-grin-wink
        %i.far.fa-grin-stars
      - when 2
        %i.far.fa-meh.ml-3
        %i.far.fa-grin-wink.fa-2x.fa-fw.faa-tada.animated
        %i.far.fa-grin-stars
      - else
        %i.far.fa-meh.ml-3
        %i.far.fa-grin-wink
        %i.far.fa-grin-stars.fa-2x.fa-fw.faa-tada.animated
  = link_to "投稿する", new_coordinate_path, class: 'btn btn-outline-primary my-3 mx-5 d-block'

  %ul.nav.nav-tabs.pt-3
    %li.nav-item
      %a.nav-link.active{href: "#tab1", data: {toggle: "tab"}}
        Your's
    %li.nav-item
      %a.nav-link{href: "#tab2", data: {toggle: "tab"}}
        Favorites
  .tab-content
    .tab-pane.active{id: "tab1"}
      = render partial: "coordinates/coordinates-list", locals: { coordinates: @coordinates, coordinate_average_arry:  @coordinate_average_arry }
    .tab-pane{id: "tab2"}
      %p hello!
