.text-center.py-5.form-container.mx-auto
  %h2 Sign in
  .pass_box.bg-dark.text-warning
    %h3 テストユーザ
    %h4 メールアドレス: 2222@2222
    %h4 パスワード: 222222
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'aaa@gmail.com'
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password'
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in", class: 'btn btn-primary my-2'
  -# = render "devise/shared/links"
